%h2 Edit Movie

= form_tag movie_path(@movie), :method => :put do
  %div{class: "uk-width-1-4"}
    = label :movie, :title, 'Title'
    = text_field :movie, 'title', class: "uk-input"
  %div{class: "uk-width-1-4"}
    = label :movie, :rating, 'Rating'
    = select(:movie, :rating, ['G','PG','PG-13','R','NC-17'], {}, {:class => "uk-select"})
  %div{class: "uk-width-1-4"}
    = label :movie, :release_date, 'Released On'
    = date_select(:movie, :release_date, {start_year: 1930, end_year: Date.today.year}, {:class => "uk-select"})
  %br
  = submit_tag 'Save Changes', :class => "uk-button uk-button-primary uk-width-1-6"
  = button_to('Cancel', movie_path(@movie), :method => :get, class: "uk-button uk-button-default uk-width-1-6")