%div{class: "uk-grid uk-child-width-expand@s"}
  %div{class: ""}
    %h2 Details about #{@movie.title}
    %ul#details
      %li
        Rating:
        = @movie.rating
      %li
        Released on:
        = @movie.release_date.to_date
    
    %h3 Description:
    
    %p#description= @movie.description

    %h3 Average Score
    = @avg_review

    %hr{class: "uk-divider-small"}

  %div{class: ""}
    %h3 Recenlt Comments
    -if @reviews.blank?
      %p No reviews just yet, would you like to add the first!
    -else
      - @reviews.each do |review|
        %div{class: ""}
          Score:
          = review.potatoes
          %p= review.comments

= button_to('Edit info', edit_movie_path(@movie), :method => :get, class: "uk-button uk-button-primary uk-width-1-6") 
= button_to('Add Review', new_movie_review_path(@movie), :method => :get, class: "uk-button uk-button-primary uk-width-1-6") 
= button_to('Delete', movie_path(@movie), :method => :delete, class: "uk-button uk-button-danger uk-width-1-6")
= button_to('Back to movie list', movies_path, :method => :get, class: "uk-button uk-button-default uk-width-1-6")

  