%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'uikit.min'
    = javascript_include_tag 'uikit.min'
    = csrf_meta_tags

  %body
    %nav{class: "uk-navbar-container uk-margin uk-light", style: "background: #E57373;"}
      %div{class: "uk-navbar-left"}
        %div{class:"uk-navbar-item"}
          %a{href: "/", class: "uk-navbar-item uk-logo"} RottenPotatoes!
    %div{class: "uk-container"}
      -if flash[:notice]
        %div{class: "uk-alert-success", "uk-alert": true}
          %a{class: "uk-alert-close", "uk-close": true}
          %p
            = flash[:notice]
      -# - elsif flash[:warning]
      -#   #warning.message= flash[:warning]
      = render partial: 'login_form'
      = yield